<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bjron The Ironside</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../StyleSheets/Bjorn.css" />
    </head>
    <body>
      <header>
          <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
                    <a href="#" class="pull-left"></a>
                      <li class="active"><a href="../MainPage.html">Home</a></li>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <footer>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                  <h1 id="header1">Bjorn The Ironside</h1>
                  <div class="jumbotron" id="jumbo">
                    <figure id="heat">
                        <img src="../Pictures/bjorn_1.jpg" id="img2"  />
                    </figure >
                  </div>
                  <p>
                      Bjorn Ironside, Ragnar Lothbrok’s son, was one of the kings of Sweden who lived
                      in the 9th century and who is assumed to be one of the founders and the first ruler of the
                      protohistoric Swedish dynasty named the Munsö Dynasty.
                      Bjorn was one of the sons of Ragnar Lothbrok and Princess Aslaug.
                      Also, as another conflict with the TV series, Bjorn was not their eldest son.
                      It was Ivar the Boneless and Bjorn was the second eldest son.
                      Bjorn Ironside had three brothers;  Ivar the Boneless, Hvitserk, Ubbe and Sigurd Snake-in-the-Eye
                      and three half-brothers; Agnar and Eric/Eirik (from Thora Town-Hart, Ragnar Lothbrok’s first wife),
                      and Fridleif (from Lagertha).
                  </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                  <h1 id="header2">Bjorn Ironside’s Raids</h1>
                  <div class="jumbotron" id="jumbo">
                    <figure id="heat">
                        <img src="../Pictures/Bjorn_2.jpg" id="img2"  />
                    </figure >
                  </div>
                  <p>
                      As a fearless warrior and fierce ruler as his father, Björn Ironside raided
                      and pillaged many places including France, Spain, Italy, England, Wales, cities
                      in Mediterranean Sea like Sicily and coasts of North Africa.
                      However, it should be noted that there is nothing in the accounts regarding the age
                      (comprised mostly of sagas and oral accounts) that suggest Rollo accompanied
                      Björn Ironside during these raids.
                      In fact, it is highly unlikely considering Bjorn Ironside is assumed to have died in
                      the year 859 exactly 1 year before the real-life Rollo was born.
                      Similar to Rollo, Floki probably was not there when Bjorn set sail to Mediterranean Sea.
                      Floki’s birth year is assumed to be 830 in the accounts and Bjorn Ironside would be a 53 year
                      old man by then considering Bjorn’s birth year is assumed to be 777.
                      According to historical accounts, Bjorn and Hastein
                      (who is assumed to be either one of Ragnar Lothbrok’s sons or someone Ragnar assigned to mentor Bjorn)
                      raided France and set sail into Mediterranean.
                      After raiding the coasts of Spain, they returned to pillage France more before and carried on to the city
                      of Pisa, Italy.
                      They could not progress more when they arrived at the gates of the city of Luna which they thought to
                      be Rome at first.
                      Eventually, conquering Luna became one of Bjorn Ironside’s most significant deeds.
                      He managed to capture the city using his intelligence, one of the aspects that made him one of
                      the most famous Vikings in the history.
                  </p>
                  <h2>How Bjorn Ironside Breached Luna’s Walls and Captured the City</h2>
                  <p>
                      Having difficulties breaching the walls of Luna, Bjorn had to think of a guileful way to
                      gain entry to the city. He sent his men to let the bishop of the city know that he died but he
                      converted to Christianity before he died and wanted to be buried on consecrated ground.
                      The city allowed his “body” to be brought in by a small group of guards
                      (who, according to some accounts, carried swords under their robes).
                      After entering the church, Bjorn came out of the box surprising everyone and fought his way to the city gates.
                      He then opened the gates to let his army in and captured Luna.
                      This trick Bjorn used was attributed to Hastein in some historical accounts and
                      it was shown as if Ragnar Lothbrok himself used this trick to enter Paris in the TV Series, Vikings.
                      After Luna, Bjorn and his Viking fleet raided Sicily and the coasts of North Africa.
                      On their way back home, they encountered navy forces of Al-Andalus at the Straits of Gibraltar.
                      This was an unfortunate encounter for Bjorn and his men as they were hit by a really powerful weapon
                      called Greek fire (an incendiary weapon which can continue to burn even on the surface of water
                  </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header3">Ragnar Jealousy of His Sons</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/bjorn_3.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        After the huge success his sons Ivar the Boneless and Bjorn Ironside achieved throughout many raids
                        all over Europe and Mediterranean Sea,
                        Ragnar Lothbrok became jealous of his sons and did not want his sons to rule Sweden. He assigned Eysteinn Beli
                        as a surrogate king and set on sail to raid the Kingdom of Northumbria and defeat his long-time nemesis, King Aella.
                        Feeling belittled by what his sons achieved, Ragnar did not think thoroughly and attacked the
                        Kingdom of Northumbria with a very small force.
                        In a somewhat different version of the story, it is written in Tale of Ragnar’s Sons (Ragnarssona þáttr),
                        the reason Ragnar decided to take on King Aella was because he was insulted by and upset with his wife Aslaug and his
                        sons Bjorn and Hvitserk since they avenged their brothers Eric and Agnar without Ragnar’s help.
                        Eric and Agnar wanted Eysteinn Beli to submit to them as they were Ragnar’s sons and Eysteinn Beli told them he would ask
                        Swedish chieftains for their opinions. The chieftains refused Eric and Agnar’s wish and ordered an attack on them.
                        As a result, Agnar was killed and Eric was captured only to be executed later – at his own request since he did not want
                        to live after such defeat.
                        Ragnar Lothbrok fell victim to his hubris and was captured and executed by King Aella.
                        Some accounts tell us that he was thrown into a pit of snakes by the king while other accounts has Ragnar Lothbrok
                        die of a mysterious disease (which is believed to be dysentery).
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header2">The King of Sweden</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/bjorn_4.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        After defeating Eysteinn Beli, Bjorn Ironside became the King of Sweden and he and his brothers attacked the Kingdom of Northumbria
                        to get revenge for their father. However, these efforts were in vain and King Aella’s
                        forces managed to beat the Viking forces.
                        Ivar, the oldest brother, who is also known to be a wise ruler in the Vikings’ history,
                        told his siblings that he knew from the beginning that this would be Ragnar’s fate and he would ask King Aella
                        for reconciliation. As a result, King Aella gave some land to Ivar on which he built the city of York.
                        Through the years, Ivar strengthened his position among Englishmen and when he deemed appropriate
                        he called his brothers to attack the Kingdom of Northumbria once again.
                        Joined by some Englishmen rallied by Ivar, the Viking forces raided Northumbria and captured King Aella alive.
                        The brothers decided that “the blood eagle” would be a suitable punishment for King Aella.
                        They cut and opened King Aella’s spine, broke his ribs and pulled his lungs out as the brutal
                        ceremony of blood eagle required and watched the king die.
                        After their father died, Ragnar’s sons divided the kingdom which resulted in Bjorn Ironside
                        becoming the ruler of Uppsala and Sweden.
                        Bjorn had two sons, Refil and Erik Björnsson and Erik became the next king of Sweden after Bjorn’s death.
                        Bjorn Ironside founded the House of Münso in Sweden, which is known as the Old Dynasty and
                        which ruled Sweden for many generations until one day they were thrown out of Sweden after
                        a long period of civil war through the end of the 10th century.
                        The Münso Dynasty became the ruler house of Denmark in time.
                        The name Münso was derived from the island where there is a hill claimed to be Bjorn Ironside’s grave.
                    </p>
              </div>
          </div>
      </footer>
    </body>
</html>
