<!DOCTYPE html>
<html lang="en">
<head>
    <title>Norse Gods</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../StyleSheets/Gods.css" />
    </head>
    <body>
      <header>
          <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
                    <a href="#" class="pull-left"></a>
                      <li class="active"><a href="../MainPage.html">Home</a></li>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <footer>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                  <h1 id="header1">Odin</h1>
                  <div class="jumbotron" id="jumbo">
                    <figure id="heat">
                        <img src="../Pictures/Odin_1.jpg" id="img2"  />
                    </figure >
                  </div>
                  <p>
                    Odin (Óðinn in Old Norse), possibly the most revered yet enigmatic of all Norse gods,
                    was regarded as the king of the Æsir tribe of gods. Historically,
                    Odin had always been prominent in the pantheon of Germanic mythology,
                    as is evident from Tacitus’ late 1st-century AD work Germania
                    (where Odin is seen as the equivalent of Roman god Mercury). And given his mythical eminence over the cultural
                    framework of the Germanic people, Odin was associated with various (and often antithetical) aspects,
                    ranging from wisdom, healing, royalty to death, sorcery, and even frenzy.
                    Pertaining to the attribute of wisdom, the character of Odin mirroring his ‘contradictory’ aspects,
                    was often portrayed as the haggard wanderer who relentlessly seeks knowledge, in spite of his regal
                    status as the ruler of the Asgard. One of the stories epitomizes the god’s thirst for knowledge and
                    wisdom where Odin willingly gouges out one of his eyes as a sacrifice for Mimir, a shadowy being who
                    possesses unparalleled knowledge because of its consumption of the water from the Well of Urd.
                    Mimir in return offers Odin a draught from the well that draws water from the roots of the Yggdrasil,
                    the cosmic tree that binds the nine worlds of Norse mythology.
                    On the other hand, the one-eyed Odin also has a sinister (albeit in a nascent level) side to him,
                    given the entity’s proclivity for provocation that leads to conflicts and wars. Essentially,
                    when perceived as a war-god, Odin was seen as the epitome of battle frenzy and chaos – aspects that were
                    favored by the warlords and berserkers. In any case, in our modern day context, the name of
                    Odin is related to Wednesday, since the word is derived from wodnesdæg (“Woden’s Day”),
                    with Odin being referred to as Wōden in Old English and Wōtan in Old High German.
                  </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                  <h1 id="header2">Ymir</h1>
                  <div class="jumbotron" id="jumbo">
                    <figure id="heat">
                        <img src="../Pictures/Ymir_1.jpg" id="img2"  />
                    </figure >
                  </div>
                  <p>
                    Like with most mythologies, including Mesopotamian and Egyptian,
                    the Norse pantheon had its primeval entity in the form of Ymir, the ancestor of all jötnar
                    (mythic entities that ranged from giants to other fantastical creatures). Now as opposed to a
                    strict categorization as one of the Norse gods, Ymir was perceived more as the ‘first being’ who was
                    created by the ice of Niflheim combined with the heat of Muspelheim, long before the existence of the Earth.
                    And after his own genesis, Ymir, with his hermaphroditic body, was responsible for birthing male, female, and
                    other mythical beings, who in turn would go on to bear future generations.
                    And mirroring other primeval deities of ancient mythologies, the narrative of Ymir took a turn, with the
                    entity being given a tragic ending due to his apparent evil machinations. To that end, Buri
                    (created after Ymir), often acknowledged as the first of the Norse gods, had a son named Bor,
                    who finally married one of Ymir’s descendants Bestla, and their union produced three sons – Ve, Vili, and Odin.
                    But the angry Ymir confronted these ascending young Norse gods, which eventually led to his own death at the
                    hands of the three brothers.
                    The three Norse gods, including Odin, then proceeded on to create the entire earth from Ymir’s fallen body,
                    with his blood accounting for the seas and oceans, while his bones made up the rocks and mountains.
                    Furthermore, his hair was used for the trees, his skull was transformed into the sky and heavens,
                    and his brains were made into clouds. And finally, his eyebrows were fashioned into the Midgard
                    – the ‘middle realm’ of mankind.

                  </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header1">Frigg</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/Frigg_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                      Possibly the foremost of all Norse goddesses when it came to their pantheon,
                      Frigg was regarded as the Queen of the Æsir and the goddess of the sky.
                      Moreover, with her special status as the spouse of Odin, the deity, with her power of
                      foreknowledge, was also frequently associated with fertility, household, motherhood, marriage,
                      and even domestic matters. In essence, of all the Norse gods, it was the mythic aspects of
                      Frigg that were mostly related to the perceived bliss of family life.
                      On the other hand, Frigg’s love for family and motherly protectiveness over also leads to the tragic episode
                      of her favored child Balder’s death (discussed later). Interestingly enough, in spite of Frigg’s eminence
                      in later Norse mythology (during the Viking period), her Old Germanic version is steeped in
                      mystery – a factor that is still debated in the academic world. Pertaining to the latter,
                      according to one of the origin hypotheses, Frigg was possibly identified with the goddess
                      Freyja (who is discussed later in the article) during the Proto-Germanic period.
                      But as scholar Stephan Grundy mentioned in his book The Concept of the Goddess.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header2">Thor</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/thor_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                      Arguably the most famous of the Norse gods, Thor (Þórr in Old Norse), the god of thunder,
                      with his burly might and boisterous ways, epitomized the formidable warrior who was accorded high status
                      in the Germanic society of ancient and early medieval times. Regarded as the son of Odin and his wife
                      Fjörgyn (not to be confused with Frigg), Thor, with his red beard and eyes, was hailed as the loyal and
                      stalwart defender of the Æsir’s stronghold of Asgard, thus suggesting his symbolic role as the protector
                      of the ordered cosmos.
                      Suffice it to say, according to Poetic Edda, Thor was considered as the strongest of all beings among
                      both gods and men. And his strength was rather ‘amplified’ by some of his specially-crafted apparels,
                      including his iron gloves and the belt of Megingjard (or megingjarðar in Old Norse). But the most common
                      item associated with Thor undoubtedly pertains to the dwarf-crafted hammer Mjöllnir (roughly translated to
                      ‘lightning’), thus alluding to how thunder was perceived (by the pre-Christianity era Norsemen) as the
                      result of Thor striking his hammer, presumably when slaying giants and monsters while riding his chariot
                      drawn by two giant goats – Tanngniost and Tanngrisnir.
                      Interestingly enough, Thor was also regarded as the god of agriculture, fertility, and hallowing.
                      Pertaining to the former, this aspect was probably an extension of Thor’s role as a sky god who was also
                      responsible for rain. To that end, Thor’s wife Sif and her golden hair possibly symbolized the fields of
                      grain, and thus their union embodied the fruitfulness and verdancy of the lands. As for our modern
                      context, ‘Thursday’ is derived from Old English þurresdæg, a contraction (possibly influenced by Old Norse
                      þorsdagr) of þunresdæg, which literally means “Thor’s day”.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header4">Balder</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/balder_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        Regarded as the Æsir god of light and purity, Balder, or Baldur (Baldr in Old Norse),
                        the younger son of Odin and Frigg, and half-brother of Thor, epitomized the effulgent summer sun itself.
                        He was also hailed as a fair, wise, and gracious divine being whose beauty even abashed the elegant flowers before him.
                        Matching his physical attributes, his abode Breidablik in Asgard was considered the most exquisite of all halls in the
                        stronghold of the Norse gods, flaunting its gilded silver components and embellished pillars that only allowed the
                        purest
                        of hearts to enter.Balder also possessed the greatest ship ever built, Hringhorni, which was later used as the funeral
                        pyre after the god’s tragic death. Relating to this deplorable incident, Balder was mistakenly killed by Höðr, Balder’s
                        twin brother, who was also blind. Höðr was presented a dart made of mistletoe by the cunning Loki, who knew that Balder
                        was impervious to all living elements on the face of Asgard and Midgard, except for the seemingly harmless mistletoe
                        (which Frigg, Balder’s mother, missed when making a plea to most living things when it came to causing no harm to her
                        delicate son). So the dart – thrown jokingly at Balder (as was the habit among the Norse gods), directly pierced his
                        heart and slew him, instead of bouncing off the god. Consequently, many of the grief-stricken Norse gods even tried to
                        bring back Balder from the domain of Hel, but to no avail, and thus the wise god was lost to them on account of
                        Loki’s cruel prank.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header5">Tyr</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/Tyr_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                      The deity of war and heroic glory, Tyr (or Týr in Old Norse) was regarded as the bravest of the Norse
                      gods of the Germanic people. And in spite of his association with wars – more specifically the formalities
                      of conflict, including treaties, his origins are rather enigmatic, with the deity possibly being one the
                      oldest and most important of the ancient Germanic pantheon, until he was supplanted by Odin
                      (who had been described in many myths as Tyr’s father, while other stories place Tyr as the son of the
                      giant Hymir). In any case, since some of the aspects of Tyr related to formalities, the god was also hailed
                      as the deity of justice and oaths.
                      Tyr was often depicted as the one-handed god since his limb was bitten off by the monstrous wolf Fenrir when
                      the god tried to trap the creature
                      (and Fenrir was thus successfully bound till Ragnarok due to the sacrifice of Tyr).
                      In spite of this episode, Tyr is foretold to be slain by Garm, the guard dog of Hel, as opposed to
                      Fenrir (according to the prose version of Ragnarök). And like some other Norse gods,
                      Tyr also has his significance in our modern day context. In that regard, the Old
                      English variant of his name is Tiw, and he was associated with Mars by the Romans, and thus dies
                      Marti (Mars’ Day) came to be known as tiwesdæg (Tuesday).
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header2">Bragi</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/bragi_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        Bragi (which roughly translates to ‘Poet’ in Old Norse), often considered as the skaldic
                        god of poetry in Norse mythology, pertains to a unique mythical character who possibly
                        shared traits with the historical 9th-century bard Bragi Boddason, who himself might have served
                        in the courts of Ragnar Lodbrok and Björn at Hauge. In any case, when it came to legends, the god
                        Bragi was perceived as the bard of Valhalla, the magnificent hall of Odin where all the fallen heroes
                        and warriors are gathered for the ultimate ‘showdown’ at Ragnarok. To that end, Bragi was hailed as the
                        skillful poet-god who sang and delighted the hordes of the Einherjar (warriors who died in battles and
                        were brought to Odin’s majestic hall by the Valkyries). Snorri Sturluson wrote (in Gylfaginning)
                        As for the Norse god’s historical counterparts, there are a few candidates other than Bragi Boddason
                        mentioned in various Poetic Edda pieces. The names include Bragi son of Hálfdan the Old
                        (mentioned in Skjáldskaparmál) and Bragi Högnason (mentioned in the second part of Helgakviða Hundingsbana).
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header5">Loki</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/Loki_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        Represented as having qualities somewhat akin to the chaotic and mischevious aspects of ancient Egyptian god Set,
                        Loki is regarded as the trickster among the Norse gods, who as a jötunn (being the son of giants Helblinde and Býleistr)
                        also possesses the power to shapeshift. Essentially, he is projected as an entity who is not entirely evil in his whimsical
                        purposes, and yet particularly scheming in his cruel actions – many of which lead to misfortunes and even tragedies
                        (like the accidental death of Balder).
                        Now given his heritage as an outsider among the Æsir tribe of gods, the narrative of Loki in ancient stories might have
                        served as a plot device that provides a soft antithesis to the other gods. His complex relationship with other gods,
                        particularly Thor, comes to light from different sources. For example, in Lokasenna or “Loki’s quarrel”
                        (one of the poems of Poetic Edda), Loki keeps on insulting Thor and then goes into hiding fearing the hammer Mjölnir.
                        On the other hand, in Þrymskviða (or anglicised as Thrymskvida), Thor and Loki share their camaraderie when they together
                        hatch a plan to retrieve the stolen Mjölnir from a jötunn named Þrymr.
                        However, in spite of Loki’s complicated character and narrative, he is foretold to be responsible
                        for the deaths of many Norse gods during Ragnarok. For example, Loki’s son, Fenrir the Wolf will kill Odin,
                        while his other offspring, Jörmungandr the Serpent will poison Thor (that would ultimately lead to the thunder god’s demise).
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header5">Hel</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/hel_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        We tend to associate hell with the realm of eternal damnation. Well, its Germanic counterpart
                        was no walk in the park either, with inhabitants like Fenrir the Wolf, Jörmungandr the Serpent
                        and other subjects who had died through sickness and old age. The ruler of this netherworld
                        (also called Helheim) was the eponymous Hel, who was the daughter of Loki and the giant Angrboda.
                        And it fell upon her to judge and decide the fate of the souls who entered her realm.
                        Descriptions of Hel, the being, have been found in numerous Viking sagas and poems; and most of
                        them portray her as being partly decomposed with a face and a body of living women
                        (albeit with a gloomy, downcast appearance), but with thighs and legs of a corpse. Still,
                        among the Norse goddesses, she was said to be most powerful, even more than Odin himself, inside
                        her own realm the Hel. The tragic episode of Balder’s death confirms such an association to power
                        since it ultimately falls upon Hel to decide the fate of the soul of a god who was considered the
                        wisest and most pure of all the Norse gods of Æsir.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header6">Heimdall</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/Heimdall_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        Often portrayed as ever-vigilant guardian of Asgard, the stronghold of the Æsir Norse gods, Heimdall
                        (or Heimdallr in Old Norse) was hailed as the descendant of giant Fornjót, and the grandson of sea jötunn
                        (singular of jötnar) Ægir. He is often depicted with his horn Gjallarhorn (‘Resounding Horn’), which is put
                        to use when intruders approach the home of the Æsir tribe of gods. Pertaining to this ‘guarding’ duty,
                        Heimdall is attested to possess keen eyesight (that stretches to hundreds of miles) and hearing
                        (that even encompasses the sound of wool growing on the sheep), complemented by other qualities like
                        having foreknowledge and vast sources of energy (that allows him to sleep less than a bird).
                        Interestingly enough, there is a possibility that Heimdallr was once considered to be the father of humankind,
                        as vaguely mentioned in the Old Norse poem Völuspá. Other scholars have hypothesized that Heimdall as a
                        figurehead was historically perceived by the Norse tribes as being responsible for creating the hierarchy and
                        classes among men. In any case, reverting to mythology, Heimdall also plays an important role in the impending
                        Ragnarok, where he will sound the dire call of Gjallarhorn to signal the arrival of the giants and monsters.
                        And in the consequent confrontations, Loki and Heimdall are foretold to slay one another.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header2">Freyr</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/Freyr_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        One the most venerated and beloved of the Norse gods, Freyr (along with his twin sister Freya)
                        was unique in his origins, since he belonged to the Vanir tribe of Norse gods, as opposed to the Æsir.
                        Usually depicted as a brawny man with his flowing hair, Freyr, the son of sea-god Njord
                        (and frost giantess, Skadi or Njord’s unnamed sister), was hailed as the foremost of deities when it came to
                        the aspect of fertility – covering both sexual and ecological scopes. Simply put, the god embodied bountiful harvests,
                        wealth, peace, and possibly even virility – all symbolized by Freyr’s boar Gullinborsti (‘Golden-Bristled’).
                        Given his association to such important avenues, Freyr was the favored entity of reverence and worship when it came to
                        marriage rites and harvest celebrations. The preferred sacrifice in these cases often involved the boar, the animal
                        symbolically linked to the fertility god. In that regard, in Norse mythology, Freyr was also known to travel in his
                        chariot pulled by boars – and this was enacted by ancient historical processions of Germanic priests who went around
                        in chariots (containing Freyr’s statue) to typify the coming of ‘peace and prosperity’ in various regions of Germania.
                        Interestingly enough, Freyr was also associated with the elves, since his residence pertained to Alfheim, the
                        homeland of the elves. In that regard, some scholars have hypothesized that Freyr was possibly even regarded as the
                        king of elves with immense riches – though such a conjecture is not well established in the Norse lore and actual
                        historical sources. Moreover, Freyr also boasted his ship, Skíðblaðnir, which had the enviable capacity to always have a
                        favorable wind, while also showcasing its ‘modular’ design that allowed the craft to be folded into a tiny package.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header2">Freya</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/Freya_1.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        Freya (Freyja in Old Norse, meaning ‘Lady’), though initially belonging to the Vanir tribe of Norse gods
                        (like his twin brother Freyr), was also as a loyal and honorary member of the Æsir, after the conclusion of
                        their tribal war. Epitomizing the aspects of love, beauty, and even opulent objects, the goddess was often
                        represented as the seeker of pleasure and the unknown. Focusing on the latter, Freya embodied the völva
                        (or anglicized vala), the female seer of the Norse religion who had the ability to tinker with the
                        seidr – magic pertaining to destiny and its ‘weaving’.
                        In essence, Freya had the ability to alter and manipulate one’s desire and fortune – and thus was often associated
                        with the undiscernable attitudes of cats. Freya was also regarded among the Norse goddesses as the ruler of afterlife
                        realm Folkvang, which allowed her to choose half of the warriors who were slain in battle (the other half were guided by
                        the Valkyries to Valhalla – see the Bragi entry). All of these characteristics of a potent völva mirrors the historical
                        scenario of the Germanic pantheon, especially during the Völkerwanderung or ‘Migration Period’ – circa 400-800 AD.
                        In that regard, these tribal societies tended to favor two gods at the head of their pantheon symbolizing the chieftain
                        warrior (who would lead them into battles and plunders) and his wife the prophetess (who would outline the future outcome
                        of such military encounters by her magic).

                        Many historians and scholars believe that these two figures eventually coalesced into what we know as the Norse entities
                        of Odin and Frigg, with the latter being the same (or at least sharing similar qualities to the) deity who was regarded as
                        Freya. To that end, Freya’s husband is often identified as Óðr, roughly meaning – furor or ecstasy.
                        And Óðinn – the Old Norse for Odin, is just the word óðr with the masculine definite article (-inn) added to the end
                    </p>
              </div>
          </div>
      </footer>
    </body>
</html>
