<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ivar the Boneless</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../StyleSheets/Ivar.css" />
    </head>
    <body>
      <header>
          <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
                    <a href="#" class="pull-left"></a>
                      <li class="active"><a href="../MainPage.html">Home</a></li>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <footer>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                  <h1 id="header1">Ivar the Boneless</h1>
                  <div class="jumbotron" id="jumbo">
                    <figure id="heat">
                        <img src="../Pictures/ivar_2.jpg" id="img2"  />
                    </figure >
                  </div>
                  <p>
                      Ivar the Boneless (Inwaer/Ingvar/Hyngwar) was one of the greatest leaders of Vikings and the
                      commander of the Great Heathen Army. He was the third son of Ragnar Lothbrok
                      (and Aslaug) after Eirik and Agnar (Ragnar’s sons from Thora Townhart).
                      Ivar had four younger brothers; Bjorn Ironside, Halfdan Ragnarsson (assumed to be Hvitserk),
                      Ubbe and Sigurd Snake-in-the Eye.
                      Ivar was older and not only Bjorn Ironside was the fourth son but also Aslaug was his mother.
                      Although Ivar was known as a ruthless warrior, he was described in historical accounts and sagas as
                      the wisest one among Ragnar Lothbrok’s children.
                      Ivar the Boneless was known as a berserker.
                      Berserkers were Viking warriors who went into a trance-like state of fury when they were fighting and yes,
                      that is where the English word “berserker” comes from.
                  </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                  <h1 id="header2">Boneless?</h1>
                  <div class="jumbotron" id="jumbo">
                    <figure id="heat">
                        <img src="../Pictures/ivar_3.jpg" id="img2"  />
                    </figure >
                  </div>
                  <p>
                      There are a few theories about the origination of Ivar’s epithet “the Boneless”.
                      Some historians discussed Ivar was called “the boneless” because he was impotent.
                      Although this theory sounds a bit far-fetched, the fact that Ivar never got married and had
                      children might be a reason to not to discard it completely.
                      Another theory about the epithet suggests that Ivar was a skilled warrior with a very
                      flexible physical form like a snake and that was the reason behind the epithet.
                      A poem written in the 12th century named “Háttalykill inn forni” describes Ivar “having no bones at all”.
                      According to The Saga of Ragnar Lothbrok, Ivar’s epithet “the Boneless” was a result of a curse foreseen by his mother,
                      Ragnar Lothbrok’s second wife, Princess Aslaug, who had the power of foresight.
                      It is written in the saga that Aslaug warned Ragnar Lothbrok to wait three days before consummating their
                      marriage saying the gods would not be pleased and their child would be cursed otherwise.
                      Ragnar ignored her warning and Ivar was born with legs with gristle-like structures instead of bones.
                  </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header3">Ivar Raids</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/ivar_4.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        After Ragnar Lothbrok was captured and killed by King Aella
                        (although some other historical accounts tell us that he died of a mysterious disease, probably dysentery),
                        Bjorn Ironside attacked Kingdom of Northumbria with his brothers to avenge their father.
                        Ivar the Boneless did not take part in these initial attacks and said he knew this was how Ragnar would
                        die in the end.
                        He made peace with and asked King Aella to give him some land only as large as an ox’s hide can cover.
                        King Aella thought of Ivar as a fool and granted his request. According to the story,
                        Ivar the Boneless cut the hide in such a fine way that, in the end, it was possible for
                        Viking men to build a fort in the land King Aella provided.
                        It is told the town established by Ivar is York although some accounts suggest
                        York was already established and Ivar took it from English forces (kindly read below for more detailed information).
                        Ivar was not only a wise but also a generous leader and that is how he managed to recruit many
                        local English warriors for his cause weakening King Aella’s forces significantly over time.
                        When Ragnar Lothbrok’s other sons led by Bjorn Ironside attacked the Kingdom of Northumbria for the second time
                        (called by Ivar for an attack according to some sources), Ivar joined forces with them, conquered the
                        kingdom and captured King Aella.
                        Ivar suggested that King Aella should be killed by carving “a blood eagle” on him.
                        As depicted in History Channel’s TV series, Vikings, the blood eagle is performed by cutting open a person’s ribs,
                        pulling them to the sides like wings, pulling out his lungs and spreading salt on the wounds.
                        According to some other accounts, Ivar the Boneless crossed the North Sea and invaded
                        East Anglia with his brothers Halfdan Ragnarsson and Ubbe in 865. East Anglians did not resist,
                        made peace with the Vikings and even gave them horses.
                        Ivar and the Great Heathen Army carried on north the next year and captured the city of York.
                        The Kingdom of Northumbria was struggling with civil war at the time since King Aella
                        has usurped the throne from King Osberht who has been ruling the kingdom for 18 years.
                        Facing a common enemy, King Aella and King Osberht joined forces, attacked York and penetrated the city walls.
                        Vikings killed everyone who entered the city. Both kings were killed as a result of this failed attempt.
                        Ivar assigned King Egbert to rule the kingdom.
                    </p>
                    <h2>The Great Heathen Army’s Progress in England</h2>
                    <p>
                        Ivar and his men progressed to conquer the Kingdom of Mercia.
                        The Great Heathen Army captured Nottingham where they spent winters.
                        King Burgred of Mercia asked King Ethelred of Wessex and his brother
                        Alfred for help in defeating “the brutal heathens”.
                        Joining forces with Wessex, the army of Mercia laid siege to Nottingham.
                        Ivar was a fearless warrior but also a wise ruler. After seeing his forces were
                        largely outnumbered, he made peace with the Kingdoms of Mercia and Wessex and returned to York in 868.
                    </p>
                    <h2>Capturing Dumbarton Rock in Scotland</h2>
                    <p>
                        Ivar ruled Dublin together with Olaf the White.
                        Together, they laid siege to Dumbarton Rock (also known as the Clyde Rock)
                        in Scotland and although the garrison resisted for four months,
                        it had to surrender when the Viking army cut off the water supply.
                        Vikings pillaged the city. Ivar and Olaf remained in Strathclyde for winter and returned to
                        Dublin with slaves and booty they acquired in Scotland. They forced Constantine I,
                        King of Scotland to pay tribute.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header4">Ivar Death</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/ivar_5.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        According to the Annals of Ulster, Ivar died of a sudden disease in 873. In the 19th century,
                        it was suggested that Ivar might have died from brittle bone disease, also known as osteogenesis imperfecta,
                        and this might have been the reason why he was called “boneless”.
                        During their excavation in 1970s and 1980s, Professor Martin Biddle from Oxford University and his wife
                        Birthe Kjølbye-Biddle discovered the remains of a 9-foot Viking warrior in Repton.
                        They suggested that these remains might belong to Ivar the Boneless since the Great Heathen Army spent
                        winters in this settlement.
                        These bones were originally discovered by Thomas Walker, a farm worker, in late 17th century. However, although the
                        grave was recovered, the existence of remains was forgotten until Prof. Briddle and his wife unearthed the bones
                        together with a sword and a small Thor’s hammer.
                        On a side note, Martin Briddle’s findings contradict “the brittle bone disease theory” regarding the origination
                        of Ivar’s epithet. The skeleton found by the Briddles belonged to a warrior who was killed brutally by stab wounds
                        on the head, arms and thighs.
                        The body in question was also disemboweled (probably after his death). His genitals might have been removed since a
                        boar tusk was buried between his legs. According to Viking traditions, a body needed to be whole in order to enter Valhalla,
                        that is why, a boar tusk might have been placed to replace his genitals.
                    </p>
              </div>
          </div>
      </footer>
    </body>
</html>
