<!DOCTYPE html>
<html lang="en">
<head>
    <title>King Ragnar</title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../StyleSheets/KingRagnar.css" />
    </head>
    <body>
      <header>
          <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
                    <a href="#" class="pull-left"></a>
                      <li class="active"><a href="../MainPage.html">Home</a></li>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <footer>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                  <h1 id="header1">King Ragnar</h1>
                  <div class="jumbotron" id="jumbo">
                    <figure id="heat">
                        <img src="../Pictures/vikings_1.jpg" id="img2"  />
                    </figure >
                  </div>
                  <p>
                      Ragnar Lothbrok was a Danish Viking warlord and a renowned hero of Norse history who lived in the 9th century.
                      The legendary Viking, who was also the king of Denmark and Sweden,
                      was also known as Ragnar Sigurdsson as he was told to be Danish King Sigurd Ring’s son (or Hring) in some accounts.
                      Both the name Ragnar and the nickname “Lothbrok”, which must not be confused with a surname,
                      had many variations in the accounts of the age.
                      Sometimes his name could be written as Regnar or Regner whereas his nickname/epithet could be written as Lodbrok or Lodbrog.
                      Ragnar’s epithet Lothbrok could be interpreted as “hairy breeches” in the Old Norse language.
                      It could also mean “dirty breeches” according to some.
                      The epithet is believed to be derived from the breeches he wore while fighting a poison-breathing serpent
                      (or a dragon according to some accounts) in one of the sagas featuring Ragnar Lothbrok.
                  </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                  <h1 id="header2">Is Ragnar Lothbrok Real <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; or Just a Myth ?</h1>
                  <div class="jumbotron" id="jumbo">
                    <figure id="heat">
                        <img src="../Pictures/vikings_myth.jpg" id="img2"  />
                    </figure >
                  </div>
                  <p>
                      Yes, he is real. That being said, who Ragnar really was is a matter of debate among historians.
                      At this point, the better question would be “How close is History Channel’s Ragnar to the actual historical figure ?”
                      Although he is known as the father of the most famous
                      Viking heroes like Ivar the Boneless and Bjorn Ironside
                      (who eventually became even more successful and famous than their father),
                      there is more than one theory about the real identity of Ragnar Lothbrok.
                      Some historians suggest that the stories telling us about the legendary deeds of Ragnar Lodbrok/Ragnar Lothbrok
                      are actually  a compilation of the accounts regarding several different Viking historical
                      figures and there may be more than one Viking warlord that might have inspired the sagas.
                  </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header2">Raiding on France and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;England</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/viking-raid.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        Stories in medieval literature regarding Ragnar Lothbrok differ in terms of details,
                        however, the part about his raids on France and England is almost identical in every account.
                        In addition to that, a chronological account of the age which is considered a highly reliable source,
                        Anglo-Saxon Chronicle comprehensively describes Ragnar Lothbrok’s deeds that made a significant impact on the history of the 9th century.
                        The records regarding Vikings in Anglo-Saxon Chronicle does not end with Ragnar Lothbrok.
                        It features somes tales about his sons and how they carried on his legacy.
                        According to the accounts of French historians, Ragnar ruled as a king in Denmark and he and his sons raided France ruthlessly.
                        Another account links Ragnar to Reginheri (Reginherus), the Viking who attacked Paris,
                        hanged 111 Christians and died of a disease shortly thereafter.
                        Ragnar Lodbrok became famous as a warlord and made his fortune by raiding lands and kingdoms in the west.
                        He allegedly attacked people while they were praying in churches.
                        Ragnar was known as a witty leader and sometimes used blitzkrieg (sudden charge)
                        tactics to surprise well-organized and disciplined forces of his enemies, especially during his attacks on France.
                        As the main target of his raids, France suffered badly in the hands of Ragnar Lodbrok and his Northmen.
                        It is told that Ragnar and his men captured Paris and made King Charles pay 7000 pounds as ransom on one occasion.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header2">Ragnar Lothbrok’s Sons,</h1>
                    <h1 id="head2">Daughters and Wives</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/ragnar_wifes.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        Ragnar  Lothbrok had three wives;
                        Lagertha the Shieldmaiden,  Aslaug  the warrior queen and
                        Thora Town-hart (Borgarhjort), a noblewoman who was the daughter of Earl Herrauðr of Götaland.
                        It should also be noted that some accounts mention a fourth wife.
                        Ragnar’s wives gave him many sons, the most famous ones being Bjorn Ironside,
                        Ubba (Ubbe/Hubba/Husto), Hvitserk/ Hvítserkr, Halfdan Ragnarsson/Halvdan Ylving and
                        Ivar the Boneless (Inwaer/Yngwar).
                        Eric, Agnar, Hastein, Rognvald, Harald and Fridleiv/Fridleif Ragnarsson (his son from Shieldmaiden Lagertha),
                        Dunvat Ragnarsen and Radbard Ragnarsen are other names recorded as Ragnar Lothbrok’s sons.
                        Ragnar had two daughters from Lagertha the Shieldmaiden and several daughters from his
                        other wives but there is no accurate information regarding their names.
                        Only two names, Ragnhild Ragnarsdottir and Åløf Ragnarsdóttir appear
                        in some accounts as the possible names of his daughters.
                    </p>
                    <h2>Ragnar Lothbrok and Lagertha</h2>
                    <p>
                        Although there are not that many resources detailing who Lagertha really was,
                        there is one that can shed some light into the life of the shieldmaiden: Gesta Danorum (“Deeds of the Danes”).
                        In Gesta Danorum, it is told that Ragnar met Lagertha when he was taking back Norway from Frø,
                        the King of Sweden who killed Ragnar’s grandfather, King Siward of Norway during the invasion.
                        Along with the women in King Siward’s family and others living in his court,
                        Lagertha was taken prisoner and put in a brothel to be humiliated.
                        These women fought bravely when Ragnar Lodbrok came to rescue them and take back his grandfather’s lands.
                        That is where Ragnar met Lagertha. Lagertha is mentioned in Gesta Danorum as “a woman with the courage of a man
                        who fought fearlessly”.
                        According to the story, Ragnar was so impressed by Lagertha’s bravery and he wanted to marry her.
                        But it was not that easy. Ragnar killed a bear and the hound guarding Lagertha’s house to be convinced for marriage.
                        As an interesting side note here, unlike how it was depicted in History Channel’s Vikings,
                        Björn Ironside is not featured as Lagertha and Ragnar’s son in most of the historical accounts.
                        He was Ragnar and Aslaug’s second son after Ivar the Boneless. Yes, Ivar is told to be the oldest one.
                        Lagertha and Ragnar had a son but he was named Fridleif.
                    </p>
                    <h2>Ragnar Lothbrok and Aslaug</h2>
                    <p>
                        History Channel’s depiction of Aslaug, who was also known as Kraka and Randalin,
                        is more accurate compared to some other characters in the TV series.
                        According to Saga of the Völsungs,  Aslaug, the third wife of Ragnar Lodbrok,
                        was the daughter of the legendary Norse hero Sigurd and the shieldmaiden Brynhildr.
                        When her parents died, her mother’s foster father, Heimer thought it would be dangerous
                        if anybody knew who Aslaug actually was. He made a big harp and carried Aslaug inside it as he wandered around
                        posing as a harpist. That went on until one day Ragnar Lothbrok’s men discovered her as she was bathing.
                        Mesmerized by Aslaug’s beauty, Ragnar’s men forgot about the bread they were baking and they had to tell Ragnar
                        about her when Ragnar asked what happened.
                        Ragnar sent his men to bring Aslaug to him. Wanting to see if she was not only beautiful but also smart,
                        Ragnar put her through some kind of a test. Aslaug managed to impress him and Ragnar asked for her hand in marriage.
                        At this point Ragnar had no idea that she was the daughter of two legendary Viking heroes.
                        When Ragnar visited Eysteinn Beli, a viceroy of Sweden, Eysteinn convinced him to marry his daughter
                        Ingeborg instead of Aslaug. However, birds have already informed Aslaug (who was told to have “powers”)
                        about Ragnar’s change of heart and that is why she had to tell him the truth about her real identity.
                        Aslaug told Ragnar Lothbrok that she was the daughter of the shieldmaiden Brynhildr and the
                        legendary Viking Sigurd who killed Fafnir the dragon (or serpent)  according to the myth.
                        She told Ragnar that she would give him a child with a dragon/serpent in his eye to convince him of her lineage.
                        She succeeded as that came true when she eventually gave birth to Sigurd Snake-in-the-Eye who was born
                        with the ouroboros mark in his left eye.
                        According to the legend, Aslaug also tried to warn Ragnar Lothbrok when he decided to set sail for England
                        unknowingly for the last time. That was kind of depicted in History Channel’s Vikings as Aslaug saw
                        visions of Ragnar and Ivar falling into the sea.
                        On another interesting side note, Aslaug, who was known as some kind of sorceress,
                        supposedly enchanted Ragnar’s armor and that is why the snakes in King Aella’s pit could not kill Ragnar Lothbrok
                        until his men removed Ragnar’s armor.
                    </p>
              </div>
          </div>
          <div class="container" id="cont1">
              <div class="jumbotron">
                <figure id="heat">
                    <img src="../Pictures/vikings_Healmet.jpg" id="img1"  />
                </figure >
                    <h1 id="header2">Ragnar Lothbrok’s Death</h1>
                    <div class="jumbotron" id="jumbo">
                      <figure id="heat">
                          <img src="../Pictures/ragnar_dead.jpg" id="img2"  />
                      </figure >
                    </div>
                    <p>
                        There are two different stories telling us about Ragnar Lothbrok’s death.
                        The first one identifies him with Reginheri and suggests that he died of a
                        deadly disease similar to diarrhea right after he ravaged Paris.
                        The description regarding the disease in question and the manner of his death given in several accounts point to dysentery
                        as his cause of death.
                        The second story, as it is told in some historical accounts, particularly the Anglo-Saxon Chronicle,
                        tells us that Ragnar Lothbrok meets death in the hands of his enemies.
                        It should also be noted that this is also how Ragnar’s death was depicted in Ragnars saga Loðbrókar
                        (The Tale of Ragnar Lothbrok) that comprises a part of the Völsunga saga (Saga of the Völsungs).
                        According to this version, on his way back home after he was forced out of  Paris,
                        Ragnar’s ship washed ashore on the coast of the Kingdom of Northumbria where he previously attacked and
                        held to ransom numerous times.
                        Longing for getting revenge on Ragnar Lodbrok for a long time,
                        King Aella of Northumbria captured and threw Ragnar into a pit of snakes,
                        leaving him to a painful and gruesome death.
                        Legend has it that, right before he died, Ragnar Lothbrok sang a Norse hymn and told King Aella
                        that his sons would avenge him.
                        In some versions of this story, Ragnar said “How the little piggies will grunt when they hear
                        how the old boar suffered” right before he died.
                        King Aella sent envoys to let Ragnar Lothbrok’s sons that he killed their father after which the
                        sons made a vow to avenge their father.
                        The Great Heathen Army (The Great Viking Army, a combined army of Vikings from Denmark and Sweden)
                        led by Ragnar Lothbrok’s sons invaded England and killed King Aella in 866.
                        Ragnar Lothbrok’s legacy continued and his descendants kept on making an impact on
                        the structure of the region even long after he was gone. About two centuries after his death,
                        descendants of Ragnar Lothbrok’s sons settled in the west coast of France turning this
                        area into “the Land of Northmen”, Normandy as we know it in the present day.
                    </p>
              </div>
          </div>


      </footer>
    </body>
</html>
